@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/BlissPro.eot');
    src: url('../fonts/BlissPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BlissPro.woff2') format('woff2'),
    url('../fonts/BlissPro.woff') format('woff'),
    url('../fonts/BlissPro.ttf') format('truetype'),
    url('../fonts/BlissPro.svg#BlissPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #141414;
    --txt-color: #fff;
    --font-bp: 'Bliss Pro', sans-serif;
    --btn-proposal: #F55656;
    --subtxt-1-color: #C0AB9D;
    --subtxt-2-color: #878787;
    --buy-color: #FEFEFE;
    --bg-btn-color: #F58D56;
    --bg-blob-color: #191A1E;
    --txt-call-color: #424242;
    --txt-call-old-price-color: #7e7e7e;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--bg-color);
    border-radius: 100px;
    font-family: var(--font-bp);
}

.p-lr {
    padding-left: 100px;
    padding-right: 100px;
}

header {
    position: relative;
    height: 951px;
    background: linear-gradient(to left top, #112120, #574230, #C4754A);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    -webkit-mask-image: url(https://i.postimg.cc/jSHQRCk8/bg.png);
    mask-image: url(https://i.postimg.cc/jSHQRCk8/bg.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.nav .logo img {
    width: 30px;
}

.nav .menu {
    display: flex;
    flex-direction: row;
    gap: 4.4rem;
}

.nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--txt-color);
    font-size: 1rem;
}

.content {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.content .proposal {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--txt-color);
    text-transform: uppercase;
    padding: 15px 34px;
    margin-bottom: 45px;
    background-color: var(--btn-proposal);
    border: none;
    border-radius: 15px;
    white-space: nowrap;
}

.content h1 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--txt-color);
    text-transform: uppercase;
    margin-bottom: 45px;
}

.content h1 span {
    font-size: 6rem;
}

.content p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--subtxt-1-color);
    text-transform: uppercase;
    margin-bottom: 85px;
}

.buy {
    font-size: 1.6rem;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--buy-color);
    border: none;
    border-radius: 27px;
    padding: 30px 47px;
    background-color: var(--bg-btn-color);
}

.xiaomi-band-7 {
    z-index: 2;
}

.xiaomi-band-7 img {
    width: 100%;
    transform: scale(1.3) translate(3%, 10%);
}

/* Украшения */
.ellipse-grey {
    position: absolute;
    top: 173px;
    left: 696px;
}

.ellipse-grey img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
}

.ellipse-grey img:nth-child(2) {
    position: absolute;
    top: 45px;
    left: 0;
    width: 21px;
}

.ellipse-grey img:nth-child(3) {
    position: absolute;
    top: 30px;
    left: 35px;
    width: 17px;
}

.ellipse-braun {
    position: absolute;
    top: 700px;
    left: 1320px;
}

.ellipse-braun img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
}

.ellipse-braun img:nth-child(2) {
    position: absolute;
    top: 45px;
    left: 0;
    width: 21px;
}

.ellipse-braun img:nth-child(3) {
    position: absolute;
    top: 30px;
    left: 35px;
    width: 17px;
}

.vector-grey {
    position: absolute;
    top: 248px;
    left: 1241px;
}

.vector-grey img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}
.vector-grey img:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 80px;
}

.vector-braun {
    position: absolute;
    top: 809px;
    left: 579px;
}

.vector-braun img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}
.vector-braun img:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 80px;
}

/* Ценники */
.price {
    position: absolute;
    top: 585px;
    left: 500px;
}

.old-price {
    position: absolute;
    top: 30px;
    left: 130px;
    width: 187px;
    height: 64px;
    background: url("../images/header/old-price.png") no-repeat;
    background-size: contain;
    font-size: 2.25rem;
    font-weight: 800;
    padding-top: 5px;
    padding-left: 30px;
    line-height: 1;
    z-index: 1;
}

.old-price::before,
.old-price span::before {
    color: transparent;
    position: absolute;
    text-decoration: line-through;
    text-decoration-color: var(--txt-color);
    text-decoration-thickness: 2px;
    mix-blend-mode: difference;
}

.old-price::before {
    content: "3200";
    top: 12%;
    left: 31px;
}

.old-price span {
    display: block;
    padding-left: 18%;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.old-price span::before {
    content: "руб";
    top: 67%;
    left: 60px;
}

.new-price {
    position: absolute;
    top: 90px;
    left: 0;
    width: 338px;
    height: 114px;
    padding-top: 8px;
    color: var(--txt-color);
    background: url("../images/header/new-price.png") no-repeat;
    background-size: contain;
    font-size: 5rem;
    font-weight: 800;
    padding-left: 55px;
    line-height: 1;
    z-index: 0;
}

.new-price span {
    display: block;
    padding-left: 25%;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.about-band {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    margin-top: 85px;
}

.about-txt {
    color: var(--txt-color);
    min-width: 35%;
}

.about-txt h2 {
    text-transform: uppercase;
    font-size: 1.87rem;
    text-align: center;
}

.about-txt h2 span {
    display: block;
    font-size: 3rem;
}

.about-txt p {
    color: var(--subtxt-2-color);
    font-size: 1.56rem;
    text-transform: uppercase;
    margin-top: 48px;
}

.about-txt button {
    margin-top: 71px;
    font-size: 1.25rem;
}

/* Слайдер */
.about-slider {
    position: relative;
    padding: 0 40px;
    max-width: 65%;
}

.about-slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    width: 68px;
    height: 68px;
    border: none;
    border-radius: 50%;
    background: var(--bg-btn-color);
}

.about-slider .slick-arrow.slick-prev {
    left: 0;
}
.about-slider .slick-arrow.slick-prev::before {
    position: absolute;
    content: "<";
    font-size: 2rem;
    color: var(--txt-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.about-slider .slick-arrow.slick-next {
    right: 0;
}
.about-slider .slick-arrow.slick-next::before {
    position: absolute;
    content: ">";
    font-size: 2rem;
    color: var(--txt-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Слайд активный */
.slider-item.slick-active {
    transform: scale(1);
    transition: transform 1.5s;
}

.slider-item:not(.slick-active) {
    transform: scale(.9);
    transition: transform 1.5s;
}

.slider-item {
    display: flex;
    justify-content: center;
}

.slider-item img {
    height: 402px;
    border-radius: 35px;
}

.m1, .m2, .m3, .m4 {
    display: flex;
    flex-direction: row;
    gap: 65px;
    margin-top: 135px;
}

.m1-slider,
.m2-slider,
.m3-slider,
.m4-slider {
    width: 100%;
    height: 302px;
}

.m1-slider img,
.m2-slider img,
.m3-slider img,
.m4-slider img,
.and-so .row .col img {
    border-radius: 60px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.m1-content,
.m2-content,
.m3-content,
.m4-content {
    flex-basis: 70vw;
}

.m1-content h2,
.m2-content h2,
.m3-content h2,
.m4-content h2 {
    font-size: 2.81rem;
    text-transform: uppercase;
    line-height: 1.3;
    color: var(--txt-color);
}

.m1-content p,
.m2-content p,
.m3-content p,
.m4-content p {
    font-size: 1.56rem;
    text-transform: uppercase;
    color: var(--subtxt-2-color);
    margin-top: 20px;
}

.m2-content,
.m4-content {
    text-align: right;
}

.and-so {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.and-so h3 {
    color: var(--txt-color);
    font-size: 2.81rem;
    text-transform: uppercase;
    text-align: center;
    margin: 82px 0;
}

.and-so .row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.pluses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.pluses .blob {
    background: var(--bg-blob-color);
    border-radius: 60px;
    text-align: center;
    padding: 60px 20px 0 20px;
}

.pluses .blob:nth-child(1),
.pluses .blob:nth-child(2) {
    flex-basis: 12%;
}

.pluses .blob:nth-child(3),
.pluses .blob:nth-child(5) {
    flex-basis: 35%;
}

.pluses .blob h4 {
    color: var(--txt-color);
    font-size: 2.3rem;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.pluses .blob p {
    color: var(--bg-btn-color);
    text-transform: uppercase;
    font-size: 1.25rem;
    word-wrap: break-word;
}

.pluses .blob span {
    display: block;
    color: var(--subtxt-2-color);
    text-transform: uppercase;
    font-size: .7rem;
    padding: 20px 0;
}

.call-to-buy {
    padding-top: 600px;
    text-align: center;
}
.call-to-buy .a-call {
    position: relative;
    background-color: var(--txt-color);
    border-radius: 60px;
    padding-top: 141px;
}

.call-to-buy .a-call::before {
    position: absolute;
    content: "";
    background-image: url("../images/call_to_buy/1.png");
    background-repeat: no-repeat;
    background-size: contain;

    height: 680px;
    width: 85%;
    top: -540px;
    left: 50%;
    transform: translateX(-50%);
}

.call-to-buy .a-call h2 {
    color: var(--txt-call-color);
    font-size: 2.81rem;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.call-to-buy .a-call .first {
    position: relative;
    font-size: 2.25rem;
    text-transform: uppercase;
}
.call-to-buy .a-call .first::before {
    position: absolute;
    content: "3200 руб";
    top: 3px;
    color: transparent;
    text-decoration: line-through;
    text-decoration-color: var(--txt-color);
    text-decoration-thickness: 2px;
    mix-blend-mode: difference;
}

.call-to-buy .a-call .second {
    margin: 10px 0 33px 0;
    color: var(--btn-proposal);
    font-size: 6rem;
    font-weight: 800;
    line-height: .9;
}

.call-to-buy .a-call .second span {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
}

.call-to-buy .a-call button {
    font-size: 1.1rem;
    padding: 26px 31px;
    margin-bottom: 103px;
    border-radius: 27px;
}

.call-to-buy h2 {
    color: var(--txt-color);
    font-size: 3rem;
    text-transform: uppercase;
    margin: 80px 0;
}

.call-to-buy h2 span {
    display: block;
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
}

.call-to-buy button {
    font-size: 1.5rem;
    margin-bottom: 87px;
    padding: 38px 54px;
    border-radius: 35px;
}

/* Украшения */
.vector-orange-1 {
    position: absolute;
    top: 380px;
    left: 170px;
}

.vector-orange-2 {
    position: absolute;
    top: 480px;
    left: 920px;
}

.vector-orange-1 img:nth-child(1),
.vector-orange-2 img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.vector-orange-1 img:nth-child(2),
.vector-orange-2 img:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 80px;
}

.ellipse-orange-1 {
    position: absolute;
    top: 150px;
    left: 1100px;
}

.ellipse-orange-2 {
    position: absolute;
    top: 630px;
    left: 150px;
    transform: rotate(180deg);
}

.ellipse-orange-1 img:nth-child(1),
.ellipse-orange-2 img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}
.ellipse-orange-1 img:nth-child(2),
.ellipse-orange-2 img:nth-child(2) {
    position: absolute;
    top: 60px;
    left: 0;
}
.ellipse-orange-1 img:nth-child(3),
.ellipse-orange-2 img:nth-child(3) {
    position: absolute;
    top: 40px;
    left: 40px;
}

footer .nav {
    justify-content: left;
    gap: 30%;
}

/* Popup */
.popup-call-to-buy-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup-call-to-buy-overlay .call-to-buy {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 970px;
    padding: 0;
}

.popup-call-to-buy-overlay .call-to-buy .a-call {
    padding: 54px 70px;
}

.popup-call-to-buy-overlay .call-to-buy .a-call h2 {
    margin: 0 0 30px 0;
}

.popup-call-to-buy-overlay .call-to-buy .a-call::before {
    content: none;
}

.popup-call-to-buy-overlay .call-to-buy .a-call button {
    margin: 0;
}

.vector-popup-1 {
    position: absolute;
    top: 230px;
    left: 80px;
}

.vector-popup-2 {
    position: absolute;
    top: 330px;
    left: 730px;
}

.vector-popup-1 img:nth-child(1),
.vector-popup-2 img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.vector-popup-1 img:nth-child(2),
.vector-popup-2 img:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 80px;
}

.ellipse-popup-1 {
    position: absolute;
    top: 170px;
    left: 830px;
}

.ellipse-popup-2 {
    position: absolute;
    top: 460px;
    left: 180px;
    transform: rotate(180deg);
}

.ellipse-popup-1 img:nth-child(1),
.ellipse-popup-2 img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}
.ellipse-popup-1 img:nth-child(2),
.ellipse-popup-2 img:nth-child(2) {
    position: absolute;
    top: 60px;
    left: 0;
}
.ellipse-popup-1 img:nth-child(3),
.ellipse-popup-2 img:nth-child(3) {
    position: absolute;
    top: 40px;
    left: 40px;
}